
<div class="panel panel-info">
    <div style="text-align:center;"><strong><h1>Medlem</h1></strong></div>
    <div  style="text-align:center;">
    
<strong>Create a billing</strong>
    
     <br>
 
 <form  id="billing" ng-submit="obilling.billOrgan(billData);">
 
    
     <br>
    <!--Billing Name-->
    
    <div >
    <label>Billing name:</label>
     <select name="billingname" ng-model="obilling.billData.billingname">
         <option value="" disabled selected>--select--</option>
        <option ng-repeat="bill in obilling.subscript" value="{{bill.sub_id}}" id="sub_id" >{{bill.subscriptionname}}</option>
        
    </select>
   <!-- <input type="text" name="sub_id" value="{{bill.sub_id}}" ng-model="obilling.billData.sub_id">-->
 
    </div>
     <br>
    <!--Billing Amount-->
    <label>Billing Amount:</label>
    <input  type="number" name="amount" placeholder="Please enter amount" ng-model="obilling.billData.amount">
    
    <br>

    <!--Time-->
    <label>Time Interval:</label>
   <select class="dropdown" name="timeinterval"  ng-model="obilling.billData.timeinterval">
       <option>Daily</option>

       <option>Monthly</option>

       <option>Weekly</option>
   </select>
    <br>

       <br>

<button class="btn btn-default"  type="submit" >Create</button>

</form>
     </div>
     </div>
<br>
<div class="jumbotron text-center" ng-show="obilling.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>


<div class="row show-hide-message" ng-show="obilling.successMsg">
    <div class="alert alert-success">{{obilling.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="obilling.errorMsg">
    <div class="alert alert-danger">{{obilling.errorMsg}}</div>
</div>