
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Company:{{main.organizationname}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul  style="float:right" class="nav navbar-nav">
            <li><a ng-show="!main.isLoggedIn" href="/register">Register</a></li>

            <li><a ng-show="main.isLoggedIn && main.authorized" href="/organprofile"><label>{{main.organizationname}}</label></a></li>
            <li><a ng-show="main.isLoggedIn && !main.authorized" href="/profile">Hello {{main.firstname}} {{main.lastname}}</a></li>
            <li style="float:right"><a ng-show="!main.isLoggedIn" href="/login">Login</a></li>
            <li><a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();">Logout</a></li>
           
          </ul>
          
        </div>
      </div>
    </nav>
    <br><br><br><br>
    <div style="text-align:center;"><strong><h1>Medlem</h1></strong></div>
    <div  style="text-align:center;">
    
<strong>Create a billing</strong>
    
     <br>
 <div class="row">
     <div class="col-sm-4">
     </div>
     <div class="col-sm-4">
     
 <form  id="billing" ng-submit="obilling.billOrgan(billData);">
 
     
    <input type="hidden"  id="organizationnumber" name="organizationnumber" value="{{main.organizationnumber}}"  >
  
     <br>
    <!--Billing Name-->
    
    <div >
    <label></label>
     
    <input type="text" class="form-control" name="billingname" ng-model="obilling.billData.billingname" placeholder="Billing name">
   <!-- <input type="text" name="sub_id" value="{{bill.sub_id}}" ng-model="obilling.billData.sub_id">-->
 
    </div>
     <br>
    <!--Billing Amount-->
    <label></label>
    <input  type="number" class="form-control" name="amount" placeholder="Billing Amount" ng-model="obilling.billData.amount">
    
    <br>

    <!--Time-->
    <label></label>
   <select class="dropdown form-control" name="timeinterval"  ng-model="obilling.billData.timeinterval">
       
       <option value="" disabled selected>--Select Time Interval--</option>
      
       <option>Daily</option>
        <option>Weekly</option>
       <option>Monthly</option>
</select>
    <br>

       <br>

<button class="btn btn-info form-control"  type="submit" >Create</button>

</form>
    
<br>
<div class="jumbotron text-center" ng-show="obilling.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>


<div class="row show-hide-message" ng-show="obilling.successMsg">
    <div class="alert alert-success">{{obilling.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="obilling.errorMsg">
    <div class="alert alert-danger">{{obilling.errorMsg}}</div>
</div>
 </div>
     <div class="col-sm-4">
     </div>
 </div>