
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Company:{{main.organizationname}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul  style="float:right" class="nav navbar-nav">
            <li><a ng-show="!main.isLoggedIn" href="/register">Register</a></li>

            <li><a ng-show="main.isLoggedIn && main.authorized" href="/organprofile"><input type="text" value="{{main.organizationname}}" disabled></a></li>
            <li><a ng-show="main.isLoggedIn && !main.authorized" href="/profile">Hello {{main.firstname}} {{main.lastname}}</a></li>
            <li style="float:right"><a ng-show="!main.isLoggedIn" href="/login">Login</a></li>
            <li><a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();">Logout</a></li>
           
          </ul>
          
        </div>
      </div>
    </nav>
     <br> <br> <br> <br>
<div class="row">
    <div class="col-sm-3"></div>
<div class="col-sm-6">
    <form name="orgForm" ng-submit="updation.putProfile()" >
    <div class="panel-heading" style="text-align:center;"><strong>{{main.organizationname}}'s' Profile </strong></div>

    <table class="table" ng-repeat="org in updation.orgn">
    <tr>
        <td>Organization Number</td>

        <td><input type="text"  id="organizationnumber" name="organizationnumber" value="{{org.organizationnumber}}"  disabled>
   </td>
         <input type="hidden"  id="username" name="username" value="{{org.username}}"  >
  
    
    </tr>
        <tr>
        <td>Organization Name</td>

        <td><input type="text" id="organizationname" name="organizationname"  value="{{org.organizationname}}">
        <!--
         
        -->
            </td>
    </tr>
        <tr>
        <td>Address</td>

        <td><input type="text" id="address" name="address"  value="{{org.address}}"></td>
    </tr>
        <tr>
        <td>No.of Members</td>

        <td>{{org.noofmember}}</td>
    </tr>
    <tr>
        <td>
            
            <button   class="btn btn-primary" type="submit">Update</button>
       
        </td>

    </tr>
    
    </table>
    </form>
</div>

<div class="col-sm-3"></div>

<div class="jumbotron text-center" ng-show="updation.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>


<div class="row show-hide-message" ng-show="updation.successMsg">
    <div class="alert alert-success">{{updation.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="updation.errorMsg">
    <div class="alert alert-danger">{{updation.errorMsg}}</div>
</div>
</div>