<div class="page-header">
        <h1 style="color:white"> {{main.username}}'s Profile</h1>

</div>
<div class="panel panel-info">
    <div class="panel-heading" style="text-align:center;"><strong>Organization Profile </strong></div>
<table class="table" ng-repeat="org in ctrlview.orgn">
    <tr>
        <td>Organization Number</td>

        <td>{{org.organizationnumber}}</td>
    </tr>
    <!--<input type="text" value="{{main.organizationnumber}}"> -->
        <tr>
        <td>Organization Name</td>

        <td>{{org.organizationname}}</td>
    </tr>
        <tr>
        <td>Address</td>

        <td>{{org.address}}</td>
    </tr>
        <tr>
        <td>No.of Members</td>

        <td>{{org.noofmember}}</td>
    </tr>
    <tr>
        <td>
            
            <a href="/editprofile" ng-show="main.isLoggedIn && main.authorized" ><button class="btn btn-primary">Edit Profile</button></a>
       
        </td>

        <td>
        


<div class="btn-grp" style="float:right">

<!--<a ng-show="main.isLoggedIn && main.authorized" href="/management" ><button>Management</button></a>-->
               <a ng-show="main.isLoggedIn && main.authorized" href="/subscription" ><button class="btn btn-primary">Create Subscription</button></a>
             <a ng-show="main.isLoggedIn && main.authorized" href="/billing" ><button class="btn btn-primary">Create Billing</button></a>
         
            <a ng-show="main.isLoggedIn && main.authorized" href="/benefit" ><button class="btn btn-primary">Create Benefit</button></a>
</div>




        </td>
    </tr>
    
    </table>
    
</div>

<!--
<div class="row">
   <div class="col-md-6">Organization Number</div>

        <div class="col-md-6">{{main.organizationnumber}}</div>
   </div>
   -->
