
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <div style="text-align:center;"><strong><h1><strong>Medlem</strong></h1></strong></div>
    <h4>Sign up as a</h4>
     
    <div class="btn-group btn-group-justified" style="text-align:center;">
    <a href='/register'><button type=button class="btn btn-default" id=f1>Member</button></a>&nbsp;
    <a href='/organ'><button type=button class="btn btn-success" id=f2 >Organization</button></a>
    </div>

    <div class="table" style="text-align:center;">
    <form ng-submit="register1.regOrgan(registerData);" id="organizations">
    <!--Organizationnumber
    <label>Organizationnumber:</label>
    <input  type="number" name="organizationnumber" placeholder="Please enter organizationnumber" ng-model="register1.registerData.organizationnumber">
    <br>
     <br>
  Organization Name-->
    <label></label>
    <input  type="text" class="form-control" name="organizationname" placeholder="Organizationname" ng-model="register1.registerData.organizationname">
     <br><br>
    <!--Address-->
<label></label>
    <input  type="textarea" class="form-control" name="address" placeholder="Address" ng-model="register1.registerData.address">
    
    <br>
     <!--No. of Members
<label>No. of Members:</label>
    <input type="number" name="noofmember" placeholder="Please enter total member count" ng-model="register1.registerData.noofmember">
    <br> <br>-->
     <!--username-->
    <br>
    <label></label>
    <input  type="text" class="form-control" name="username" placeholder="Username" ng-model="register1.registerData.username">
    <br>
    <br>
<!--password-->
    <label></label>
    <input  type="text"class="form-control" name="password" placeholder="Password" ng-model="register1.registerData.password">
    <br><br>
   
     <label>Upload Image:</label> 

    <div class="btn btn-default">     
  <input type="file" file-model="file.upload" id="fileinput" name="myfile" ng-disabled="uploading" >
</div>
    <br><br>
    

<button class="btn btn-success form-control"  type="submit">Sign Up Now!</button>
<br><br>
<label>Already Logged in ??</label><a href="/login">Login Here...</a>

</form>

     </div>

<div class="jumbotron text-center" ng-show="register1.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>


<div class="row show-hide-message" ng-show="register1.successMsg">
    <div class="alert alert-success">{{register1.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="register1.errorMsg">
    <div class="alert alert-danger">{{register1.errorMsg}}</div>
</div>
     
    </div>
    <div class="col-sm-4"></div>
  
</div>
<br>
