
<div class="panel panel-info" style="width:50%" >
    <div style="text-align:center;"><strong><h1>Medlem</h1></strong></div>
    <div class="btn-group btn-group-justified" style="text-align:center;">
    
<strong>Sign up as a</strong>
     <br>
 <a href='/register'><button type=button class="btn btn-default" id=f1>Member</button></a>
     <a href='/organ'><button type=button class="btn btn-success" id=f2 >Organization</button></a>

    </div>
     <br>
     <div class="table" style="text-align:center;">

 <form ng-submit="register1.regOrgan(registerData);" id="organizations">
  
    
     <br>
     <!--Organizationnumber
    <label>Organizationnumber:</label>
    <input  type="number" name="organizationnumber" placeholder="Please enter organizationnumber" ng-model="register1.registerData.organizationnumber">
    <br>
     <br>
  Organization Name-->
    <label>Organizationname:</label>
    <input  type="text" name="organizationname" placeholder="Please enter your name" ng-model="register1.registerData.organizationname"><br>
    
    <br>
    <!--Address-->
<label>Address:</label>
    <input  type="text" name="address" placeholder="Please enter address" ng-model="register1.registerData.address">
    <br>
    <br>
     <!--No. of Members
<label>No. of Members:</label>
    <input type="number" name="noofmember" placeholder="Please enter total member count" ng-model="register1.registerData.noofmember">
    <br> <br>-->
     <!--username-->
    <label>Username:</label>
    <input  type="text" name="username" placeholder="Please enter your username" ng-model="register1.registerData.username">
    <br>
<!--password-->
    <label>Password:</label>
    <input  type="text" name="password" placeholder="Please enter your passsword" ng-model="register1.registerData.password">
    <br>
<br>

    

<button class="btn btn-success"  type="submit">Sign Up</button>

</form>
     
     </div>
</div>
<br>
<div class="jumbotron text-center" ng-show="register1.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>


<div class="row show-hide-message" ng-show="register1.successMsg">
    <div class="alert alert-success">{{register1.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="register1.errorMsg">
    <div class="alert alert-danger">{{register1.errorMsg}}</div>
</div>