      <div class="row">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">

<br><br><br>
  <div class="panel panel-info">
<div class="panel panel-heading">
Give Access
</div>
<form name="accesspage" ng-submit="getorg.Membership();">

  <table class="table" >

<tr>
    <td><input type="checkbox" id="ssn" name="ssn" value="{{main.ssn}}" checked>ssn<br></td>
    <td> <input type="checkbox" id="fname" name="fname" value="{{main.firstname}}{{main.lastname}}" required checked>Fullname<br></td>

</tr>
<tr>
 <td>
  <input type="checkbox" id="age" name="age" value="{{main.age}}" required checked>Age:{{main.age}}<br>
 </td>
<td> <input type="checkbox" id="gender" name="gender" value="{{main.gender}}" required checked>Gender:{{main.gender}}<br></td>


 </tr>

<tr>
  <td ng-model="org">
      <input type="hidden" id="organization" value="{{org}}">
     
</td>

<td>
  <input class="btn btn-info" type="submit" value="Submit" style="float:right">
</td>
</tr>

  </table>
   </form>
  </div>  
</div>
    <div class="col-sm-4"></div>
</div>




