
<div class="row" style="padding-top:30px;">
    <div class="col-sm-4"></div>

    <div class="col-sm-4">
<div class="page-heaader">
    <h1>Login Here...</h1></div>

<form  ng-submit="main.doLogin(loginData);">
    
    <!--Username
    <label>Username:</label>-->
    <input class="form-control" type="text" name="username" placeholder="Username" ng-model="main.loginData.username">
    <br>
<br>
<br>
    <!--Password
<label>Password:</label>-->
    <input  class="form-control" type="text" name="password" placeholder="Password" ng-model="main.loginData.password">
    <br>
    <!--<label>Role:</label>-->

    <br>
    <br>
    <select class="dropdown-header form-control" name="role" ng-model="main.loginData.role">
       <option value="" disabled selected>--Select Role--</option>
        <option >organization</option>
        <option>member</option>
    </select>  
    <br>
    <br>
<button class="btn btn-success form-control" type="submit">Login</button>
<br>
<br>
<label>New User??</label><a href="/">Sign up Here...</a>

<div class="jumbotron text-center" ng-show="main.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>

<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success">{{main.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">{{main .errorMsg}}</div>
</div>
</form>


</div>

    <div class="col-sm-4"></div>
</div>
<br>
