
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
     <div style="text-align:center;"><h1><strong>Medlem</strong></h1></div>
     
    <h4>Sign up as a</h4>
     
<div class="btn-group btn-group-justified" style="text-align:center;">
   
    <a href='/register'> <button type=button class="btn btn-success" id=f1>Member</button></a>&nbsp;
    <a href='/organizations'><button type=button class="btn btn-default" id=f2 >Organization</button></a>
     <br>
    </div>


<div style="text-align:center;">
<form   id="members" ng-submit="register.regUser(regData);">
    
        <!--First Name-->
    <label></label>
    <input  type="text" class="form-control" name="firstname" placeholder="Firstname" ng-model="register.regData.firstname" required>
    <br>
    <!--Last Name-->
    <label></label>
    <input  type="text" class="form-control" name="lastname" placeholder="Lastname" ng-model="register.regData.lastname" required>
    
    <!--SSN
<label>SSN:</label>
    <input type="number" name="ssn" placeholder="Please enter your ssn" ng-model="register.regData.ssn">
    -->

    <!--username-->
    <label></label>
    <input  type="text" class="form-control" name="username" placeholder="Username" ng-model="register.regData.username" required>
   
     <br>
    <!--Email-->
    <label></label>
    <input  type="text" class="form-control" name="email" placeholder="Email" ng-model="register.regData.email" required>
    <br>
    
    <!--Password-->
<label></label>
    <input  type="text" class="form-control" name="password" placeholder="Password" ng-model="register.regData.password" required>
    <br>
    
<!--Gender-->
<label></label>
    <select class="form-control dropdown" name="gender" class="dropdown" ng-model="register.regData.gender" required>
         <option value="" disabled selected>--Select Gender--</option>
       
        <option>Male</option>
        <option>Female</option>
    </select>
    <br>
    <!--Age-->
<label></label>
    <input type="number" class="form-control" name="age" placeholder="Age" ng-model="register.regData.age" required>
    <br>
    <!--Phno-->
<label></label>
    <input type="number" class="form-control" name="phno" placeholder="Contact Number" ng-model="register.regData.phno" required>
    <br>

     <label></label> 
<div class="btn btn-default form-control">
  <input type="file" file-model="file.upload" id="fileinput" placeholder="Upload Image" name="myfile" ng-disabled="uploading" required>

</div><br>

<br>


<button class="btn btn-success form-control" type="submit">Sign up Now!</button>
</form>
<br>
<label>Already Logged in ??</label><a href="/login">Login Here...</a>


</div>
<div class="jumbotron text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>


<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{register.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{register.errorMsg}}</div>
</div>
    </div>
<div class="col-sm-4"></div>
    
</div>
<br>
