<div class="page-heaader">
    <h1>Edit User</h1></div>

<br>
<ul class="nav nav-tabs">
    <li class="presentation" ng-click="edit.namePhase();" ng-class="nameTab"><a href="#">Name</a></li>
    <li class="presentation" ng-click="edit.usernamePhase();" ng-class="usernameTab"><a href="#">Username</a></li>
    <li class="presentation" ng-click="edit.emailPhase();" ng-class="emailTab"><a href="#">Email</a></li>
    <li class="presentation" ng-click="edit.permissionsPhase();" ng-class="permissionsTab"><a href="#">Permissions</a></li>
 </ul>
 <!--Phase One:Name-->

<form name="edit.nameForm" ng-show="edit.phase1" ng-submit="edit.updateName(newName,edit.nameForm.name.$valid);"novalidate>
     <!--Name--><br>
    <label>Name:</label>
    <input ng-disabled="edit.disabled" class="form-control" type="text" name="name" placeholder="Please enter your name" ng-model="newName">
    <br>
        

     <br>
<button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>

</form>


 <!--Phase Two:Email-->

<form name="edit.emailForm" ng-show="edit.phase2" ng-submit="edit.updateEmail(newEmail,edit.emailForm.email.$valid);" novalidate>
     <!--Email--><br>
    <label>Email:</label>
    <input ng-disabled="edit.disabled" class="form-control" type="text" name="email" placeholder="Please enter your email" ng-model="newEmail">
    <br>
     <br>
<button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>

</form>


 <!--Phase Three:Username-->
<form name="edit.usernameForm" ng-show="edit.phase3" ng-submit="edit.updateUsername(newUsername,edit.usernameForm.username.$valid);" novalidate>
     <!--Username-->
     <br>
    <label>Username:</label>
    <input ng-disabled="edit.disabled" class="form-control" type="text" name="username" placeholder="Please enter your username" ng-model="newUsername">
    <br>
     <br>
<button ng-disabled="edit.disabled" class="btn btn-primary" type="submit">Update</button>

</form>

 <!--Phase Four:Permission-->
<div  ng-show="edit.phase4">
    <label>Current Permission:&nbsp&nbsp</label>{{ newPermission }}
    <br>
<br>
<br>
<button ng-disabled = "edit.disableUser" type="button" class="btn btn-success" ng-click="edit.updatePermissions('user');">User</button>&nbsp
<button ng-disabled = "edit.disableModerator" type="button" class="btn btn-info"  ng-click="edit.updatePermissions('moderator');">Moderator</button>&nbsp;
<button ng-disabled = "edit.disableAdmin"  type="button" class="btn btn-warning"  ng-click="edit.updatePermissions('admin');">Admin</button>

</div>
<div class="row show-hide-message" ng-show="edit.successMsg">
    <div class="alert alert-success">{{edit.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="edit.errorMsg">
    <div class="alert alert-danger">{{edit.errorMsg}}</div>
</div>